
Project 1/.DS_Store
Project 1/Library
Project 1/obj
Project 1/ProjectSettings
Project 1/Assembly-CSharp-Editor.csproj
Project 1/Assembly-CSharp.csproj
Project 1/evl 491.sln
Project 1/evl 491.userprefs
Project 1/Temp/Commandpipe
Project 1/Temp/UnityLockfile
